<h2 id='title'>Selectize test</h2>

{{ember-selectize
  content=controller.items
  optionValuePath="content.id"
  optionLabelPath="content.label"
  selection=model.item
  create="createAction"
  placeholder="Select an item" }}
